.login-page
{
    position: relative;
    overflow-x: hidden;
    background: #EEF5F9;


    .form-holder {
        width: 100%;
        height: 100vh;
        border-radius: 5px;
        overflow: hidden;

        div[class*='col-'] {
            padding: 0;
        }

        .bg-white {
            background: #fff !important;
        }

        .picture {
            background: url(../images/login_bg.jpg);
            background-size:cover;
            background-repeat:no-repeat;
        }

        .form{
            .login-box {
                width: 440px;
                margin: -150px auto 0px auto;

                .login-logo
                {
                    font-size: 35px;
                    text-align: center;
                    margin-bottom: 25px;
                    font-weight: 300;
                    color: #444;
                }

                .login-box-body{
                    background: #fff;
                    padding: 20px;
                    border-top: 0;
                    color: #666;

                    .login-box-msg
                    {
                        margin: 0;
                        text-align: center;
                        padding: 0 20px 20px 20px;
                    }
                }
            }

            form {
                width: 100%;
                max-width: 400px;
            }

            .form-group {
                position: relative;
                margin-bottom: 30px;
            }

            input.input-material {
                outline: none !important;
                width: 100%;
                border: none;
                border-bottom: 1px solid #eee;
                padding: 10px 0;
            }

            input.input-material ~ label {
                color: #aaa;
                position: absolute;
                top: 14px;
                left: 0;
                cursor: text;
                -webkit-transition: all 0.2s;
                transition: all 0.2s;
                font-weight: 300;
            }

            #error_label
            {
                display: block;
                color: #f00;
            }

            #login_btn
            {
                display: block;
                align-items: center;
            }
        }

        .picture,.form
        {
            min-height: 50vh;
            padding: 40px;
            height: 100%;
        }
    }

    .has-shadow {
        // box-shadow: 2px 2px 2px rgb(0,0,0,0.1);
    }
}