html,
body,
#cesium_container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;

  /* 禁止文字被鼠标选中 */
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cesium-widget-credits {
  display: none !important;
}

.cesium-viewer-navigationContainer {
  top: 72px !important;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

#sidebar {
  position: fixed;
  left: 0;
  top: 56px;
  bottom: 0;
  z-index: 999;
  width: 250px;
  background: rgba(239, 239, 239, 0.7);
  align-items: stretch !important;

  .container-fluid {
    align-items: stretch !important;
  }

  #status_bar {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: #5e6e82;
  }

  .navbar-nav {
    a {
      color: #5e6e82;
    }

    .bi {
      display: inline-block;
      min-width: 1.75rem;
    }

    .dropdown-indicator::after {
      content: "";
      height: 0.4rem;
      width: 0.4rem;
      border-right: 1px solid #5e6e82;
      border-right-color: rgb(94, 110, 130);
      border-bottom: 1px solid #5e6e82;
      border-bottom-color: rgb(94, 110, 130);
      -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
      transform: translateY(-50%) rotate(45deg);
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      transition-property: all;
      -webkit-transform-origin: center;
      -ms-transform-origin: center;
      transform-origin: center;
      -webkit-transition-property: border-color, -webkit-transform;
      transition-property: border-color, -webkit-transform;
      -o-transition-property: transform, border-color;
      transition-property: transform, border-color;
      transition-property: transform, border-color, -webkit-transform;
      float: right;
      margin-top: 10px;
    }

    .dropdown-indicator[aria-expanded="true"]::after {
      -webkit-transform: translateY(-50%) rotate(225deg);
      -ms-transform: translateY(-50%) rotate(225deg);
      transform: translateY(-50%) rotate(225deg);
    }

    .nav-item {
      list-style: none;
    }
  }
}

#projects_wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 9999;
}

#projects {
  display: block;
  height: 80px;
  cursor: pointer;
  -webkit-transition-property: width, background-color;
  transition-property: width, background-color;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  width: 110px;
  background-color: rgba(255, 255, 255, 0);
  user-select: none;
  
  .project-card{
    height: 60px;
    width: 86px;
    left: 10px;
    position: absolute;
    border-radius: 2px;
    //top: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(153,153,153,.42);
    background-size: cover;
    background-repeat: round !important;
    -webkit-transition-property: right,background-image;
    transition-property: right,background-image;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;

    span {
      position: absolute;
      bottom: 0;
      right: 0;
      display: inline-block;
      padding: 3px 3px 2px 4px;
      font-size: 12px;
      // height: 12px;
      line-height: 12px;
      color: #FFF;
      border-top-left-radius: 2px;
    }
  }

  .project-card.active ,.project-card:hover {
    span{
      background-color: #3385FF;
    }  
  }

  .project-card.active
  {
    z-index: 99;
  }
}

.expand #projects
{
  background-color: rgba(255, 255, 255, 0.8);
}
