.modal
{
    top: 72px !important;
    right: 0 !important;
    width: 22rem !important;
    left: auto !important;
}

.modal-fixed-right {
    padding-right: 0 !important;

    .modal-dialog {
        margin: 0;
        margin-left: auto;
        margin-right: initial;
        max-width: 22rem;
        position: relative;
        width: auto;
        pointer-events: none;
    }

    .modal-header
    {
        min-height: 2.3125rem;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        border: none;
        border-radius: 0;
        padding: 0.5rem 1.25rem;
        overflow: hidden;
    }

    .bg-shape{
        position: relative;
        overflow: hidden;
        background-color: #07294a;
    }

    .btn-close 
    {
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        border: 0;
        border-radius: .25rem;
        background-color: rgba($color: #fff, $alpha: 0.1);
    }

    .modal-header
    {
        i{
            display: inline-block;
            width: 32px;
        }
    }

    .modal-body{
        height: 100%;
        .btn-group{
            width: 100%;
        }

        #player-container{
            margin-top: 1rem;
            width: 100%;
            max-height: 320px;
            display: none;
        }

        #btngroup_camera_control
        {
            margin-top: 1rem;
            display: none;;
        }
    }
}

.ml-config{
    margin-right: 50px;

    input{
        width: 40px;
        height: 26px;
        border: none;
    }

    .color-picker
    {
        text-indent: -9999px;
    }
}

.modal-backdrop
{
    display: none !important;
}

.ztree{
    width: 100%;
    height: 350px;
    border: 1px solid #005e8a;
    overflow-y: auto;
}

.modal-body
{
    .form-check
    {
        display: inline-block;
    }
}

#modal_device{
    form{
        margin-top: 10px;

        label{
            padding-right: 0 !important;
        }
    }

    #device-params
    {
        display: none;
    }
}

#modal_marker{
    .tab-content
    {
        height: 100%;
    }

    .panel {
        height: 100%;
    }

    .combo-p {
        height: 150px;
    }

    .propertygrid {
        overflow: auto;
    }
}

#modal_deploy
{
    #symbol_list
    {
        width: 100%;
        height: 320px;
        border: 1px solid #005e8a;
        
        .symbol-item
        {
            margin: 5px;
            width:92px;
            text-align: center;
            display: inline-block;
            cursor: pointer;

            img{
                width: 92px;
                height: 92px;
            }

            p{
                white-space:nowrap;
                overflow:hidden;
                text-overflow:ellipsis;
            }
        }
    }

    form{
        margin-top: 10px;

        label{
            padding-right: 0 !important;
        }

        .input-shed{
            width: 32% !important;
            display: inline-block !important;
        }
    }
}

#modal_device_select
{
    .btn-group
    {
        margin-top: 10px;
    }
}